@import url(../blogoosfero-base/style.css);

$base: 10px;
$width: $base;
$height: $base;

$padding: $base;
$margin: 2*$base;

$color-red: #AA0000;

body {
  background-image: url(/tema/fundo.png);
  font-family: Verdana;

  &.logged-in, & {
    #theme-header {
      position: absolute;
      height: 0;
      border: none;
      top: 0;

      // where #user, #navigation is on
      #bar {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 5;
        width: 100%;
        height: 3*$height;
        background-color: white;
        border-bottom: 1px solid #D3D7CF;
      }

      // where #user, #navigation is on
      #image {
        margin: auto;
        background-image: url(images/header.png);
        width: 960px;
        height: 302px;
      }

    }
  }
}

/************************** content ***************************/

#wrap-2 {
  padding: $base;

  #user, #site-title {
    top: 0px;
  }
  #site-title {
    background: none;
    width: 400px;

    a {
      color: $color-red;
    }
  }
  #user {
    margin-top: 8px;

    #top-search {
      display: none;
    }
  }

  #content {
    margin: 0;
  }

  #navigation {
    //overrides
    position: static;
    display: block;

    margin-top: 302px;
    height: 3*$height;
    padding: $padding;
    margin-left: -$padding;
    margin-right: -$padding;
    background: $color-red;
    border: none;

    ul {
        //overrides
      float: left;
      height: auto;

      li {
        //overrides
        width: auto;
        text-align: inherit;

        border-right: 2px solid white;
        padding: 0 $padding+3;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border-right: none;
        }


        a {
          color: white;
          font-size: 17px;
          line-height: 17px;
          font-weight: bold;
          border: none;

          &:hover {
            background: inherit;
          }
        }
      }
    }

    #navigation-end {
      display: none;
    }
  }
}



#content .block-title,
#content .main-block h1, #not-found h1, #access-denied h1 {
  border-bottom:2px solid #CE5C00;
  color: #CE5C00;
}

.profile-image-block p {
  color: #CE5C00;
}

.block a {
  color: #CE5C00;
}

.block a:visited {
  color: #F57900;
}

.control-panel a,
.control-panel a:visited {
  color: #000;
}

.controller-profile_editor .control-panel a:hover {
  background-color: #CE5C00;
  color: #FFF;
}

#content .link-list-block li a:hover {
  background-color: #CE5C00;
}

#content .link-list-block li a.link-this-page {
  background-color: #F57900;
  border-right:2px solid #CE5C00;
}

.template-rightbar #content .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page {
  border-left: 2px solid #CE5C00;
}

/************** blog **************/

#content .blog-post .title a:hover {
  color: #CE5C00;
}

/**************************** Comments *******************************/

#content .comments h3 {
  color: #CE5C00;
  border-bottom: 2px solid #CE5C00;
}

.post_comment_box h4 {
  background-color: #CE5C00;
  color: #FFF;
}

/************************** theme footer ***************************/

#theme-footer {
  padding: $padding 0;
  background: $color-red;
  text-align: center;

  #footer-content {

    .address {
      font-size: 16px;
      display: block;
      margin: $margin;
    }

    a, a:hover, a:visited {
      color: white;
    }
  }
}
