
<li> <%= search_people_menu %> </li>
<li> <%= search_communities_menu %> </li>
<li> <%= search_contents_menu %> </li>
<li id="navigation-events"><%= link_to content_tag('span', _('Events')), {host: environment.default_hostname, action: :events, controller: :search}, {class: 'icon-event', title: 'Eventos'} %></li>

